
.UploadePage .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 2em;
  display: block;
  font-size: 30px;
  font-weight: 600;
}

.picture-label {
  display: block;
  margin-bottom: 3em;
}

.success-label {
  width: 100%;
  background-color: green;
}

.btn {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 1em;
  cursor: pointer;

}

.upload-button {
  background-color: blanchedalmond;
}

.restart-button {
  background-color: indianred;
  color: white;
}

.UploadePage .image-container {
  width: 500px;
  height: 500px;
  opacity: 1;
  transition: all 1s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container.hidden {
  height: 0;
  opacity: 0;
}

.img {
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}


.button-container {
  position: relative;
}